body {
  background: #FFAFBD;
  background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);
  background: linear-gradient(to right, #ffc3a0, #FFAFBD);
}

* {
  caret-color: transparent;
}

input {
  padding: 10px 20px;
  outline: none;
}

header h1 {
  margin-top: 70px;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
  min-width: 500px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#new-todo-section {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

#new-todo-section form {
  width: 100%;
  display: flex;
  justify-content:space-evenly;
  margin: 20px auto;
}

#new-todo-input {
  caret-color: #000;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.877);
}

#new-todo-input, #new-todo-add-button {
  border-radius: 5px;
  border: 0;
}

#new-todo-add-button {
  background-color: rgb(37, 35, 35);
  color: rgb(255, 255, 255);
  padding: auto 5px;
}

#new-todo-add-button:hover {
  cursor: pointer;
}



#todo-list-section{
  width: 80%;
  margin: 0 auto;
}

#todo-list-section h3 {
  text-decoration: underline;
  font-style: italic;
}

#todos {
  border-left: 2px solid #000;
  padding: 5px 10px 10px 20px;
  border-bottom-left-radius: 5px;
}

.todo-item {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px auto;
}

.todo-item:hover {
  cursor: pointer;
}

.todo-item .todo-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.todo-item .todo-content .todo-state {
  padding: 10px 20px;
  width: 20px;
  border: none;
  outline: none;
}

.todo-item .todo-content .todo-text {
  flex: 2;
  margin: 0 0 0 15px;
  border: none;
  height: fit-content;
  background-color: transparent;
  border-radius: 5px;
}

.todo-item .todo-content .todo-text:focus {
  outline: none;
}

.todo-item .todo-content .todo-state:hover {
  cursor: pointer;
}

.todo-item .todo-actions {
  display: flex;
  justify-content: space-around;
  width: 20%;
  padding: 10px 20px;
}